.content {
  margin: 0;
  padding: 0;
  background-color: #e7ebed;
  text-align: center;
  font-family: "Exo 2", sans-serif;
}

.content div.section {
  padding: 0px;
  padding-bottom: 30px;
}

.content p.title {
  margin: 0;
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
}

.content p.sub-title {
  margin: 0;
  padding: 20px;
  font-size: 30px;
  font-weight: bolder;
}

.content p.explain {
  margin: 0;
  padding: 20px;
  padding-bottom: 30px;
  font-size: 22px;
}

.content p.limitation {
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.content p.qa-mark {
  font-weight: bold;
}

.content p.qa-text {
  margin: 0;
  padding: 10px;
  font-size: 24px;
  /* margin-left: 1.7rem; */
  background-color: aqua;
}
